@use "../../styles/variables.module.scss";

.carousel {
  background-color: variables.$secondary-bg;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  color: variables.$primary-color;
}

.item {
  animation: carousel 5s infinite;
}

@keyframes carousel {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
