@use "../../styles/variables.module.scss";

.img {
  object-fit: cover;
  aspect-ratio: 2/1;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: variables.$primary-bg;
}

.mySwiper {
  position: relative;
  width: 100%;
}

.mySliders {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  max-height: 850px !important;

  .textSlider {
    position: absolute;
    z-index: 40;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 2px black;

    .textTitle {
      font-weight: 900;
    }

    .textPara {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .textSlider1,
  .textSlider2 {
    left: 0;
    right: 0;
    bottom: 60px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  .textSlider3 {
    left: 60px;
    bottom: 60px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }
}

.button {
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  color: variables.$primary-color;
  padding: 5px 40px;
  border-radius: 10px;
  transition: all 0.2s;
  background-color: variables.$secondary-bg;
  margin-bottom: 20px;
}

.button:hover {
  transform: scale(1.1);
}

.input {
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
}

.input:focus {
  border: 3px solid variables.$secondary-bg;
  outline: none;
}

.end {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 650px));
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 20px;
}

.endInfoContainer,
.endInfoContainer2 {
  font-size: 1.3rem;
}

.endInfoContainer2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.endInfo {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1560px) {
  .end {
    gap: 80px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .img {
    aspect-ratio: 2/3;
  }
  .button {
    font-size: 1.2rem;
  }

  .input {
    padding: 8px;
    padding-left: 20px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .mySliders {
    .textSlider {
      font-size: 1.5rem;
      .textPara {
        font-size: 1.1rem;
      }
    }
    .textSlider1,
    .textSlider2 {
      bottom: 30px;
    }

    .textSlider3 {
      left: 25px;
      bottom: 30px;
    }
  }
  .end {
    justify-content: center;
    gap: 40px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    padding: 20px;
  }
}
