@use "../../styles/variables.module.scss";

.img {
  object-fit: cover;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: variables.$primary-bg;
}

.swiper {
  height: 65vh;
  width: 100%;
}

.slider {
  height: 100%;
}

.textSlider {
  position: absolute;
  z-index: 40;
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}

.positionCenter {
  left: 0;
  right: 0;
  bottom: 60px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 900;
}

.paragraph {
  margin-bottom: 20px;
  font-weight: 500;
}

.input {
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
}

.input:focus {
  border: 3px solid variables.$secondary-bg;
  outline: none;
}

.end {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 650px));
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 20px;
}

.endInfoContainer,
.endInfoContainer2 {
  font-size: 1.3rem;
}

.endInfoContainer2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.endInfo {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 1560px) {
  .end {
    gap: 80px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .input {
    padding: 8px;
    padding-left: 20px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .textSlider {
    font-size: 1.1rem;
  }

  .end {
    justify-content: center;
    gap: 40px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    padding: 20px;
  }
}
