@use "../../styles/variables.module.scss";

.header {
  display: flex;
  align-items: center;
  color: variables.$secondary-bg;
  border-top: 2px solid white;
  border-bottom: 1px solid #ccc;
  font-family: "Manufacturing Consent", system-ui;
  padding: 15px 0px;
  justify-content: center;
  background-color: variables.$primary-color;
  position: sticky;
  top: 0;
  z-index: 999;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2px;
  align-items: center;
  transition: transform 0.2s;
  font-size: 2rem;
  border: none;
  background-color: white;
  cursor: pointer;
  color: variables.$secondary-bg;
  font-size: 1.7rem;
  font-weight: 800;
  text-decoration: none;
  grid-column: 2;
}

.title:hover {
  transform: translateX(-50%) rotate(-4deg);
}

.logo {
  height: 40px;
  width: 40px;
}

.cart {
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px;
  justify-self: end;
  margin-right: 25px;
  display: flex;
  align-items: center;
  transition: 0.2s transform;
}

.cart:hover {
  transform: scale(1.2);
}

.cartIcon {
  color: variables.$secondary-bg;
}

.icons {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.notDisplay {
  display: none;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

footer {
  padding: 15px 0px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  color: variables.$primary-bg;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 35px;
    width: 35px;
  }
  .cart {
    margin-right: 15px;
  }
}
